.main{
    width: 100%;
    padding: 0 1.5em;
    background-color: #191919;
    padding-bottom: 5%;
}

.container{
    padding-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.containerVideos{
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.containerVideos p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

@media (max-width: 768px) {
    .main {
        padding-bottom: 25%;
    }

    .containerVideos {
        flex-wrap: nowrap;
        overflow: auto;
        justify-content: unset;
        padding: 1em 1em;
    }

    .containerVideos::-webkit-scrollbar {
        height: 8px; 
        width: 8px;  
    }

    .containerVideos::-webkit-scrollbar-track {
        background: #0A1128; 
        border-radius: 10px; 
    }

    .containerVideos::-webkit-scrollbar-thumb {
        background: #0E56F0; 
        border-radius: 10px; 
    }
}


@media (min-width: 769px) and (max-width: 1024px){
    .containerVideos{
        flex-wrap: nowrap;
        overflow: auto;
        justify-content: unset;
        padding: 1em 1em;
    }

    .containerVideos::-webkit-scrollbar {
        height: 8px; 
        width: 8px;  
    }

    .containerVideos::-webkit-scrollbar-track {
        background: #0A1128; 
        border-radius: 10px; 
    }

    .containerVideos::-webkit-scrollbar-thumb {
        background: #0E56F0; 
        border-radius: 10px; 
    }
}