.main{
    width: 100%;
    padding: 2.5em 1.5em;
    background-color: #191919;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.containerVideos{
    display: flex;
    gap: 32px;
}