.container{
    width: 35%;
    background-color: black;
    border-radius: 16px;
    padding-bottom: 1em;
    border: 6px solid #6BD1FF;
    box-shadow: inset 0 0 40px var(--azul);
}

.containerImg {
    width: 100%;
    height: 32vh;
    box-shadow: inset 0 0 40px var(--azul);
}

.containerImg img{
    width: 100%;
    height: 32vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.containerBtns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2.5%;
}

.containerBtns button{
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.00);
    border: none;
    color: white;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    gap: 5px;
}

.icon{
    color: white;
}