.footer{
    background-color: #030910;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 16px var(--azul);
    border-top: 6px solid #2271D1;
    height: 15vh;
}

.footerBtns{
    display: none;
}

@media (max-width: 768px){
    .footer{
        z-index: 9999;
        position: fixed;
        width: 100%;
        bottom: 0;
        height: 14vh;
    }

    .footer img{
        display: none;
    }

    .footerBtns{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}